* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

h1,
h2,
h3 {
  color: #fff;
  font-family: "Arial";
}

h3 {
  font-size: 14px;
}

h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Arial";
}

p {
  color: #fff;
}

img {
  max-width: 100%;
}

button {
  font-family: "Arial";
}

main {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 0.2rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  grid-column: 1;
}

.playlist {
  grid-column: 2;
  grid-row: 1/2;
}
