/*FONT
font-family: router, sans-serif;
font-weight: 500 + 700;
font-style: normal;
*/

:root {
	--fontgenerel: 'router', sans-serif;

	--backgroundcolor: #000;
	--textcolor: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--backgroundcolor);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
}

h1,
h2,
h3 {
	color: #fff;
	font-family: var(--fontgenerel);
	font-weight: 500;
}

h3 {
	font-size: 13px;
	line-height: 20px;
}

h2 {
	font-size: 16px;
}

a {
	text-decoration: none;
	font-family: var(--fontgenerel);
}

p {
	color: var(--textcolor);
}

img {
	max-width: 100%;
}

button {
	font-family: var(--fontgenerel);
	font-weight: 500;
}

.navigation {
	display: flex;
	flex-direction: column;
}

.sectiontemp {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

/*INDEX
----------------*/

.playlist {
	flex-grow: 1;
}
