---
import BrowserCard from './BrowserCard.astro'
---

<section>
	<h1>Browser All</h1>
	<article>
		<BrowserCard title="Pop" />
		<BrowserCard title="Rock" />
		<BrowserCard title="Soul" />
		<BrowserCard title="Dance" />
		<BrowserCard title="Rock" />
		<BrowserCard title="Elektronisk" />
		<BrowserCard title="Opera" />
		<BrowserCard title="Podcast" />
		<BrowserCard title="Børnesange" />
		<BrowserCard title="Sunset" />
		<BrowserCard title="Træning" />
		<BrowserCard title="Løb" />
	</article>
</section>

<style>
	article {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
	}
</style>
