---
import BrowserCard from './BrowserCard.astro'
---

<section>
	<h1>Udforsk alle</h1>
	<article class="grid-containerb">
		<BrowserCard title="Pop" icon="new" />
		<BrowserCard title="Rock" />
		<BrowserCard title="Soul" icon="new" />
		<BrowserCard title="Dance" />
		<BrowserCard title="Rock" icon="new" />
		<BrowserCard title="Elektronisk" icon="new" />
		<BrowserCard title="Opera" />
		<BrowserCard title="Podcast" />
		<BrowserCard title="Børnesange" />
		<BrowserCard title="Sunset" />
		<BrowserCard title="Træning" />
		<BrowserCard title="Løb" />
	</article>
</section>

<style>
	.grid-containerb {
		place-content: center;
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
		gap: 1.5rem;

		/* hide wrapping rows */
		grid-template-rows: repeat(3, min-content);
		grid-auto-rows: 0;
		overflow: hidden;
	}

	h1 {
		margin: 2rem;
		font-weight: 700;
		font-size: 22px;
	}
</style>
