---
const {variant, size} = Astro.props;
---

<button class={variant + " " + size}>
    <slot/>
</button>


<style>
        button{
        min-width: fit-content;
        border-radius: 40px;
        border-style: none;
    }

     .primary{
        background-color: #f6f6f6;
    }

    .secondary{
        background-color: transparent;
    }

    .medium{
         padding: .5rem 1rem;
         font-size: 14px;
         max-width: fit-content;
    }

    .large{
          padding: 1rem 1.8rem;
         font-size: 16px;
    }
</style>