---

---

<article>
	<img src="/cover1.jpg" alt="cover" />
	<h2>Today's Top Hits</h2>
	<h3>Jung Kook is on top of the Hottes 50!</h3>
</article>

<style>
	article {
		margin: 1rem 0 0 1.5rem;
		background-color: #1e1e1e;
		max-width: 10rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0.8rem;
		border-radius: 10px;
		min-width: 10rem;
		columns: 1fr;
	}

	img {
		border-radius: 5px;
	}

	h3 {
		color: #a7a7a7;
	}
</style>
