---

---

 <nav>
    <img src="/icons/logow.svg" alt="logo">
    <a href="/#"><img src="/icons/homew-filled.svg" alt="home">Hjem</a>
    <a href="/search"><img src="/icons/searchg-icon.svg" alt="search">Søg</a>
</nav>

<style>
    nav{
        margin: .3rem;
        border-radius: 15px;
        background: #121212;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem; 
    }

    a{
        color: #fff;
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }

    img{
        width: 25%;
    }

    a img{
        width: 7%;
    }
    
</style>