---
import Card from './Card.astro'
import Button from './Button.astro'
---

<section>
	<article>
		<div class="playfocus">
			<h1>Spotify-playlister</h1>
			<h2>Vis alle</h2>
		</div>
		<div class="grid-container">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</div>
	</article>

	<article>
		<div class="playfocus">
			<h1>Fokus</h1>
			<h2>Vis alle</h2>
		</div>
		<div class="grid-container">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</div>
	</article>
</section>
<style>
	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));

		/* hide wrapping rows */
		grid-template-rows: min-content;
		grid-auto-rows: 0;
		overflow: hidden;
	}
	section {
		margin: 0 0.3rem 0.3rem 0;
		border-radius: 0 0 15px 15px;
		background: #121212;
		padding: 1rem;
		flex-grow: 1;
	}

	h1 {
		font-size: 23px;
		font-weight: 700;
	}
	h2 {
		color: #a7a7a7;
		font-size: 14px;
	}

	.playfocus {
		padding: 0 0 1rem 0;
		display: flex;
		justify-content: space-between;
	}
</style>
