---
import Card from "../components/Card.astro";
---

<section>
    <article>
    <div>
        <p>knap</p>
        <p>knap</p>
    </div>
    <div>
        <a href="/#">Tilmeld dig</a>
        <button>Log på</button>
    </div>
</article>
<article>
    <div>
    <h1>Spotify-playlister</h1>
    <h2>Vis alle</h2>
    </div>
    <Card />
</article>
</article>
<article>
    <div>
    <h1>Fokus</h1>
    <h2>Vis alle</h2>
    </div>
    <Card />
</article>
</section>