---
import "../styles/main.css";
import Navigation from "../components/Navigation.astro";
import Ditbibliotek from "../components/Ditbibliotek.astro";
import Sp from "../components/Sp.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Spotify</title>
	</head>
	<body>
        <main>
			<article class="navigation">
            <Navigation />
			</article>
			<article class="bibliotek">
			<Ditbibliotek />
			</article>
			<article class="playlist">
			<Sp />
			</article>
        </main>
	</body>
</html>