---
import '../styles/main.css'
import Navigation from '../components/Navigation.astro'
import Ditbibliotek from '../components/Ditbibliotek.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
const { search } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://use.typekit.net/lqw7dkm.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Spotify</title>
	</head>
	<body>
		<main>
			<section class="sectiontemp">
				<article class="navigation">
					<Navigation />
					<Ditbibliotek />
				</article>
				<article class="headertemp">
					<Header {search} />
					<slot />
				</article>
			</section>
		</main>
		<Footer />
	</body>
</html>
