---
import '../styles/main.css'
import Navigation from '../components/Navigation.astro'
import Ditbibliotek from '../components/Ditbibliotek.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://use.typekit.net/lqw7dkm.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Spotify</title>
	</head>
	<body>
		<main>
			<article class="navigation">
				<Navigation />
				<Ditbibliotek />
			</article>
			<slot />
		</main>
		<Footer />
	</body>
</html>
